<div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-header__top">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Bibliothèque d'images</h4>
          <span class="sub-text">Veuillez sélectionner une ou plusieurs images</span>
        </div>
        

        <form class="search__container">
          <p>Rechercher par nom</p>
          <div class="search-gallery-item-input__container">
            <input type="text" placeholder="Nom du fichier" data-bind="textInput: searchTyped, valueUpdate:'keyup'" />
            <button type="reset" class="btn-reset-form reset-btn"><span aria-hidden="true">&times;</span></button>
          </div>
          <p class="nb-results" data-bind="text: searchResults().length + ' résultat(s) trouvé(s)'"></p>
        </form>
      </div>
      <div class="modal-body">
        <div class="gallery-library__container">
        {% set imgCompletePath = app.request.scheme ~ '://' ~ app.request.host ~ ':' ~ app.request.port ~ '/' %} 
          <ul class="row list-unstyled gallery-library" 
          data-gallery-items='{{ galleryItems }}' 
            data-bind="foreach: searchResults"
            data-img-basepath="{{ imgCompletePath }}"
            data-img-key="webPath"
            data-search-filters="name, path"
            data-search-type="contains">
            <li class="col-md-4 col-sm-6 gallery-library__item" data-bind="attr: { 'class': 'col-md-4 col-sm-6 gallery-library__item col-lg-' + $parent.classItems() }">
              <button class="reset-btn" type="button" data-bind="attr: { 'data-gallery-item': JSON.stringify($data) }">
                <figure>
                  <div class="icon-checkmark" data-bind="visible: inProject"></div>
                  <img data-bind="attr: { src: webPath }" alt="" />
                </figure>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>